.contact-us{
  background: linear-gradient(to right, rgba(230, 157, 233, 0.24), rgba(233, 199, 106, 0.35));
  width: 100%;
  display: flex;
  /*background-attachment: scroll;*/
  /*justify-content: space-around;*/
  flex-flow: row wrap;
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
}
.item-content{
  width: 33%;
  padding: 20px;
  /*flex-wrap: wrap;*/
}

.image-location{
  width: 100%;
  height: 250px;
}
.header-content{
  margin-top: 30px;
}

agm-map{
  height: 300px;
}

@media (max-width: 1100px) {
  /*.contact-us{*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*height: auto;*/
  /*}*/
}
