<div class="main-content contact-us">
  <div class="item-content">
    <img src="../../assets/image/slide2(2)%20–%20копія.jpg" class="image-location">
    <h2 class="header-content">Our location:</h2>
    <agm-map [latitude]="lat" [longitude]="lng"></agm-map>
  </div>
  <div class="item-content">
    <img src="../../assets/image/157742753.jpg" class="image-location">
    <h2 class="header-content">Contact information:</h2>
    <div>fghfhf</div>
  </div>
  <div class="item-content">
    <img src="../../assets/image/slide2%20–%20копія.jpg" class="image-location">
    <h2 class="header-content">Contact us:</h2>
    <div>fghfhf</div>
  </div>
</div>
