@media (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 991px) {
  .hidden {
    display: none;
  }
}

@media all {

  .navbar-light .navbar-brand, .navbar-light, .navbar-nav, .nav-link, .dropdown-item {
    color: white !important;
  }

  .btn-outline-success {
    color: white;
    border-color: white;
  }

  .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    background-color: #F48FB1;
    border-color: #F48FB1;
  }

  .bg-secondary {
    background-image: url("../../assets/image/3169.jpg") !important;
  }

  .nav-item:hover, .nav-item:focus, .nav-item:active,
  .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    background-color: #BA68C8;
    border-color: #BA68C8;
    border-radius: 7px;
  }

  .dropdown-menu {
    background-image: url("../../assets/image/3169.jpg") !important;
    border-radius: 7px;
  }

  .dropdown-item:focus, .dropdown-item:hover {
    background-color: #BA68C8;
    border-color: #BA68C8;
    border-radius: 7px;
  }
}

